{% load static from staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}FenxPipeline{% endblock %}</title>
		<meta name="keywords" content="FenxPieline,Modules" />
		<meta name="description" content="" />
		<meta name="Author" content="paulwinex" />
        <link rel="icon" href="{% static "/assets/favicon.ico" %}">

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="{% static "assets/css/essentials.css" %}"  rel="stylesheet" type="text/css" />
		<link href="{% static "assets/css/layout.css" %}"  rel="stylesheet" type="text/css" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="{% static "assets/css/header-1.css" %}"  rel="stylesheet" type="text/css" />
		<link href="{% static "assets/css/custom.css" %}"  rel="stylesheet" type="text/css" />
{#		<link href="{% static "assets/css/color_scheme/green.css" %}"  rel="stylesheet" type="text/css" id="color_scheme" />#}
		<link href="{% static "assets/css/color_scheme/lightgrey.css" %}"  rel="stylesheet" type="text/css" id="color_scheme" />
        <link id="css_dark_skin" href="{% static "assets/css/layout-dark.css" %}" rel="stylesheet" type="text/css" title="dark">
        <style>
            a.logo > img {
                height: 50px;
            }
            section {
                padding: 20px 0;
            }
            a:hover{
                color: white;
            }
            section.page-header {
                padding: 10px 0 10px 0;
                background-color: #121212;
            }

        </style>
        {% block head %}

        {% endblock %}

	</head>

	<!--
		AVAILABLE BODY CLASSES:

		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background

		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click

		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/boxed_background/1.jpg"
	-->
	<body class="smoothscroll">

		<!-- SLIDE TOP -->
{#		<div id="slidetop">#}
{##}
{#			<div class="container">#}
{##}
{#				<div class="row">#}
{##}
{#					<div class="col-md-4">#}
{#						<h6><i class="icon-heart"></i> WHY SMARTY?</h6>#}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>#}
{#					</div>#}
{##}
{#					<div class="col-md-4">#}
{#						<h6><i class="icon-attachment"></i> RECENTLY VISITED</h6>#}
{#						<ul class="list-unstyled">#}
{#							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>#}
{#							<li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>#}
{#							<li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>#}
{#							<li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>#}
{#							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>#}
{#						</ul>#}
{#					</div>#}
{##}
{#					<div class="col-md-4">#}
{#						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>#}
{#						<ul class="list-unstyled">#}
{#							<li><b>Address:</b> PO Box 21132, Here Weare St, <br /> Melbourne, Vivas 2355 Australia</li>#}
{#							<li><b>Phone:</b> 1-800-565-2390</li>#}
{#							<li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>#}
{#						</ul>#}
{#					</div>#}
{##}
{#				</div>#}
{##}
{#			</div>#}
{##}
{#			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>#}
{##}
{#		</div>#}
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper" style="background-color: #333;">

			<!--
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.noborder 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom

				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent noborder"
			-->
			<div id="header" class="sticky clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars menu-button"></i>
						</button>

						<!-- BUTTONS -->
						<ul class="pull-right nav nav-pills nav-second-main">

							<!-- SEARCH -->
							<!-- /SEARCH -->

							<!-- QUICK SHOP CART -->
							<!-- /QUICK SHOP CART -->

						</ul>
						<!-- /BUTTONS -->

						<!-- Logo -->
						<a class="logo pull-left" href="/">
							<img src="{% static "assets/img/fenx.png" %}" style="height: 50px;" alt="" />
						</a>

						<!--
							Top Nav

							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse pull-right nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE

									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example:

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
                                    <li>
										<a href="http://docs.fenxpipeline.com/" target="_blank" class="side-menu-link">DOCUMENTATION</a>
									</li>
                                    <li>
										<a href="{% url "download" %}" class="side-menu-link">DOWNLOAD</a>
									</li>

									<li class="dropdown"><!-- HOME -->
{#										<a href="http://docs.fenxpipeline.com/">#}
{#											DOWNLOAD#}
{#										</a>#}
                                        <a class="dropdown-toggle side-menu-link" href="" >
											MODULES
										</a>

										<ul class="dropdown-menu">
											<li><a href="{% url "modules:index" %}" class="side-menu-link">LIBRARY</a></li>
											<li><a href="{% url "modules:my_modules" %}" class="side-menu-link">MY MODULES</a></li>
											<li><a href="{% url "modules:register" %}" class="side-menu-link">REGISTER NEW MODULE</a></li>
										</ul>

									</li>
                                    {% if user.is_authenticated %}
                                    <li class="dropdown">
										<a class="dropdown-toggle side-menu-link" href="#">
											{{ user|upper }}
										</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url "account:profile" %}" class="side-menu-link">PROGILE</a></li>
                                                <li><a href="{% url "account:logout" %}" class="side-menu-link">LOGOUT</a></li>
                                            </ul>
									</li>
                                    {% else %}
                                    <li class="dropdown">
                                        <a href="{% url "account:login" %}" class="side-menu-link">LOGIN</a>
                                    </li>
                                    {% endif %}
								</ul>
							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>


			<!--
				PAGE HEADER

				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header">
				<div class="container">

					<h1>{% block header_title %}Home{% endblock %}</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="{% url "index" %}">Home</a></li>
                    {% block breadcrumbs %}
{#						<li class="active">Example</li>#}
                    {% endblock %}
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">

					{% block content %}

					{% endblock %}

				</div>
			</section>
			<!-- / -->




			<!-- FOOTER -->
{#			<footer id="footer" class="sticky">#}
{##}
{#				<div class="copyright">#}
{#					<div class="container">#}
{#						<ul class="pull-right nomargin list-inline mobile-block">#}
{#							<li><a href="#">Terms &amp; Conditions</a></li>#}
{#							<li>&bull;</li>#}
{#							<li><a href="#">Privacy</a></li>#}
{#						</ul>#}
{#						&copy; All Rights Reserved, FenxPipeline#}
{#					</div>#}
{#				</div>#}
{##}
{#			</footer>#}
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
{#		<div id="preloader">#}
{#			<div class="inner">#}
{#				<span class="loader"></span>#}
{#			</div>#}
{#		</div>#}
        <!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
{#		<script type="text/javascript">var plugin_path = 'assets/plugins/';</script>#}
		<script type="text/javascript">var plugin_path = "{% static "assets/plugins/" %}";</script>
		<script type="text/javascript" src="{% static "assets/plugins/jquery/jquery-2.1.4.min.js" %}"></script>

		<script type="text/javascript" src="{% static "assets/js/scripts.js" %}"></script>

        {% block scripts %}

        {% endblock %}

		<!-- STYLESWITCHER - REMOVE -->
{#		<script async type="text/javascript" src="{% static "assets/plugins/styleswitcher/styleswitcher.js" %}"></script>#}
	</body>
</html>