{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}
Download
{% endblock %}

{% block header_title %}
Download
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Download</li>
{% endblock %}





{% block content %}
<section class="text-center">

				<h1 class="margin-bottom-20 size-30 font-lato weight-500">
                    DOWNLOAD FENX INSTALLER
                </h1>
				<p class="size-20 font-lato weight-400">FenxPipeline still under development. Please read <a href="http://docs.fenxpipeline.com/manual/tester/" style="color: white">testers information</a> before install.</p>

			</section>
			<!-- / -->
			<!-- -->
			<section class="text-center">
				<div class="container">

					<div class="row">
                        {% if lin %}

                        {% endif %}
						<div class="col-md-4 col-sm-4">
{#							<i class="fa fa-info-circle fa-5x"></i>#}
                            <img class="d-flex mr-3" data-src="holder.js/64x64" alt="64x64" src="{% static "assets/images/lin.png" %}" data-holder-rendered="true" style="width: 64px; height: 64px;" />
							<h2 class="size-17 margin-top-6">Linux Ubuntu 16+</h2>
                            {% if downloads.lin %}
                                <a href="{{ downloads.lin.url }}">{{ downloads.lin.name }}</a>
                                {% else %}
                                <p class="text-muted">Under Development</p>
                            {% endif %}
						</div>

						<div class="col-md-4 col-sm-4">
							<img class="d-flex mr-3" data-src="holder.js/64x64" alt="64x64" src="{% static "assets/images/win.png" %}" data-holder-rendered="true" style="width: 64px; height: 64px;" />
							<h2 class="size-17 margin-top-6">Windows 7+ x64</h2>
                            {% if downloads.win %}
                                <a href="{{ downloads.win.url }}">{{ downloads.win.name }}</a>
                                {% else %}
                                <p class="text-muted">Under Development</p>
                            {% endif %}
{#							<p class="text-muted">Unfortunately we do not know the exact downtime, but we esitmate less than an hour.</p>#}
						</div>

						<div class="col-md-4 col-sm-4">
{#							<i class="fa fa-comments-o fa-5x"></i>#}
                            <img class="d-flex mr-3" data-src="holder.js/64x64" alt="64x64" src="{% static "assets/images/mac.png" %}" data-holder-rendered="true" style="width: 64px; height: 64px;" />
							<h2 class="size-17 margin-top-6">MacOS</h2>
							{% if downloads.mac %}
                                <a href="{{ downloads.mac.url }}">{{ downloads.mac.name }}</a>
                                {% else %}
                                <p class="text-muted">Under Development</p>
                            {% endif %}
						</div>
                        <h4><a href="http://docs.fenxpipeline.com/manual/tester/">TESTERS INFORMATION</a></h4>
					</div>

				</div>
			</section>
{% endblock %}