{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Open source CG pipeline platform">
    <meta property="og:site_name" content="FenxPipeline">
    <meta property="og:url" content="http://fenxpipeline.com">
    <meta property="og:image" content="http://fenxpipeline.com/static/assets/images/fenx.png">
    <link rel="icon" href="{% static "/assets/favicon.ico" %}">

    <title>
      
        FenxPipeline
      
    </title>

    
      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
      <link href="{% static "assets/css/toolkit-startup.css" %}" rel="stylesheet">
      <link href="{% static "assets/css/application-startup.css" %}" rel="stylesheet">
      <link href="{% static "assets/css/fonts.css" %}" rel="stylesheet">
      <link href="{% static "assets/css/landing_custom.css" %}" rel="stylesheet">

      <!--<script src="https://unpkg.com/sweetalert2"></script>-->
      <script src="{% static "assets/js/sweetalert2.all.js" %}"></script>

      <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
      <script src="{% static "assets/js/promise.min.js" %}"></script>
    

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
          -webkit-overflow-scrolling: touch;
        }
      }

    </style>
  </head>


<body>
  



<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-header">Main Menu</li>
    <!--<li class="nav-item">-->
      <!--<a class="nav-link active" href="index.html">Home</a>-->
    <!--</li>-->
    <li class="nav-item">
      <a class="nav-link" href="#features">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://docs.fenxpipeline.com" target="_blank">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "modules:index" %}">Modules</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#download">Download</a>
    </li>
    <!--<li class="nav-divider"></li>-->
    <!--<li class="nav-header">Docs</li>-->
    <li class="nav-item">
      <a class="nav-link" href="#contacts">Contact</a>
    </li>
  {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url "account:login" %}">Login</a>
    </li>
  {% endif %}
<li class="nav-item">
       <a class="nav-link" href="/">RUS</a>
    </li>
    <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="http://getbootstrap.com">Bootstrap</a>-->
    <!--</li>-->
  </ul>
</div>

<div class="stage" id="stage">

    <!--MAIN-->
    <div class="block block-inverse block-fill-height app-header grad">
         <!--style="background-image: url(assets/images/bg1.jpg);"-->
    <!--&gt;-->

      <div class="container py-4 fixed-top app-navbar">
      <nav class="navbar navbar-transparent navbar-padded navbar-expand-md">
        <a class="navbar-brand mr-auto" href="/">
            <img src="{% static "assets/images/fenx_alpha.png" %}"  width="42" height="42" alt="">

        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-target="#stage"
          data-toggle="stage"
          data-distance="-250">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-none d-md-block text-uppercase">
          <ul class="navbar-nav">
            <!--<li class="nav-item px-1 ">-->
              <!--<a class="nav-link" href="#stage">Home</a>-->
            <!--</li>-->
            <li class="nav-item px-1 ">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item px-1 ">
              <a class="nav-link" href="#download">Download</a>
            </li>
            <li class="nav-item px-1 ">
              <a class="nav-link" href="http://docs.fenxpipeline.com" target="_blank">Documentation</a>
            </li>
            <li class="nav-item px-1 ">
              <a class="nav-link" href="{% url "modules:index" %}">Modules</a>
            </li>

            <li class="nav-item px-1 ">
              <a class="nav-link" href="#contacts">Contact</a>
            </li>

            {% if not user.is_authenticated %}
                <li class="nav-item px-1 ">
                  <a class="nav-link" href="{% url "account:login" %}">Login</a>
                </li>
            {% else %}
                <li class="nav-item px-1 ">
                  <a class="nav-link" href="{% url "account:profile" %}">Profile</a>
                </li>
            {% endif %}
            <li class="nav-item">
{#              <a href="/"><img class="thumbnail pull-left flag" src="{% static "assets/images/ru.png" %}" alt="en" ></a>#}
              <a class="nav-link lang-link" href="/">RUS</a>
            </li>


          </ul>
        </div>
      </nav>
    </div>

      <!--<img class="app-graph"  src="assets/img/startup-0.svg">-->

      <div class="block-xs-middle pb-5">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-lg-6">
              <h1 class="block-titleData frequency" style="font-size: 3em">FenxPipeline</h1>
              <p class="lead mb-4 text-muted">
                Professional CG&#8209;pipeline software<br>
                for Studios and Freelancers
              </p>
              <button class="btn btn-warning btn-lg" onClick="document.getElementById('download').scrollIntoView();">Download</button>
            </div>

              <div class="col-sm-10 col-lg-6">
              <p class="lead mb-4 text-muted">
                  Tools designed for&nbsp;keeping clean and consistent CG&#8209;pipeline for&nbsp;Freelancers and&nbsp;Small&nbsp;Studios
                  <br>
                  <br>
                  <!--Многофункциональная и расширяемая платформа, доступная каждому.-->
{#                  Useful cross platform and open source launcher with integrations for&nbsp;all&nbsp;famous CG&nbsp;packages.#}
                  Cross platform and&nbsp;Open&nbsp;source launcher with&nbsp;integrations for&nbsp;all&nbsp;common CG&nbsp;packages
              </p>
            </div>


          </div>
        </div>
      </div>
    </div>

    <!--FEATURES-->
    <div class="block block-secondary app-block-marketing-grid"
         id="features">
  <div class="container text-xs-center">

      <div class="row mb-5 justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <!--<h5 class="text-dark text-uppercase mb-2">возможности</h5>-->
          <h2 class="mb-4">Features of FenxPipeline</h2>
        </div>
      </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/laincher.png" %}">
        <p><strong>Useful Launcher</strong>
            <br>
{#            Easily customize start-up of&nbsp;your favourite&nbsp;software.#}
            Customize start-up of your favourite&nbsp;software&nbsp;with&nbsp;ease
        </p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/integr.png" %}">
        <p><strong>Ready Integration</strong><br>
            Deep Integration for common CG&nbsp;packages with&nbsp;wide range&nbsp;of features.
        </p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/cross.png" %}">
        <p><strong>Cross Platform Code</strong>
            <br>
            Use same Workspace from&nbsp;different operating&nbsp;systems.
        </p>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/modules2.png" %}">
        <p><strong>Modules</strong>
            <br>
            Automate difficult things in one click.
            Each particular module introduces new features.
        </p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/colaborate.png" %}">
        <p><strong>Teamwork</strong>
            <br>
            Use the same Workspace in the studio and at home with synchronization via&nbsp;LAN or&nbsp;Internet
        </p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/opensource.png" %}">
        <p><strong>Open Source</strong>
            <br>
            Open and flexible system written on Python.
            Add new functionality with custom modules.
        </p>
      </div>
    </div>
  </div>
</div>

    <!--ABOUT-->
    <div class="block block-inverse app-block-marketing-grid"
         style="background-image: url({% static "assets/images/bg6.jpg" %});">


        <div class="container">

            <div class="row mb-5 justify-content-center2">
                <!--<h2 class="mb-4">Что такое FenxPipeline</h2>-->
                <div class="col-lg-8">
                    <h3 class="text-white text-uppercase mb-2">concept</h3>
                    <p class="lead2 mb-4 text-muted">
                        FenxPipeline is a solution designed to&nbsp;simplify building a&nbsp;CG&#8209;Pipeline.
                        You&nbsp;will get&nbsp;a&nbsp;convenient launcher that can run your favorite software
                        with its&nbsp;third&nbsp;party plug&#8209;ins and scripts.
                        The main characteristic of the platform is&nbsp;modularity!
                        <br>
                        Need a new plug-in or&nbsp;an&nbsp;additional service?
                        Use the provided module or&nbsp;write your&nbsp;own.
                        The extensibility of&nbsp;the&nbsp;functionalities&nbsp;is&nbsp;unlimited.
                    </p>
                    <h3 class="text-white text-uppercase mb-2">for studios</h3>
                    <p class="lead2 mb-4 text-muted">
                        If you are young or small studio that does not have a launcher but do use shell scripts to start up you software.
                        With FenxPipeline you can quickly build a&nbsp;flexible CG-pipeline, that is&nbsp;immediately ready to&nbsp;connect your employees
                        and outsourcing&nbsp;artists. Each Fenx-wrapper implements the&nbsp;best practices configuring a&nbsp;specific software,
                        porting the best functionalities to&nbsp;the&nbsp;others. If&nbsp;you already have your&nbsp;local&nbsp;launcher,
                        you&nbsp;can&nbsp;use FenxPipeline only to&nbsp;work with remote employees.
                        The event system will help integrating Fenx platform with&nbsp;your existing pipeline.


                    </p>

                    <h3 class="text-white text-uppercase mb-2">for freelancer</h3>
                    <p class="lead2 mb-4 text-muted">
                        FenxPipeline is the easiest way to systematize your tools and get a&nbsp;professional launcher for&nbsp;home&nbsp;use.
                        Forget about shell scripts, Fenx&#8209;modules will&nbsp;do&nbsp;everything automatically.
                        No&nbsp;more&nbsp;need to&nbsp;write start&#8209;up script for&nbsp;each plugin.
                        Just place the plugin or script in&nbsp;the&nbsp;correct directory or&nbsp;install the&nbsp;appropriate module.
                        <br>
                    </p>

                </div>
            </div>

        </div>
    </div>

    <!--DOWNLOAD-->
    <div class="block block-secondary app-iphone-block" id="download">
        <div class="container" style="padding-bottom: 100px;">
            <div class="row app-align-center">

                <div class="col-sm-5 d-none d-md-block">
                    <!--<img class="app-iphone" src="assets/images/download.png" style="width: 100%;">-->
                    <img class="app-iphone" src="{% static "assets/images/download.png" %}" height="370px">
                </div>

                <div class="col-md-6 col-sm-12 ml-auto">
                    <h6 class="text-muted text-uppercase">download</h6>
                    <h2>Download</h2>
                    <p class="lead2 mb-4">

                        FenxPipeline is still under development.
                        <br>
                        You can test the platform now, but do not use it on production projects.
                        <br>
                        Detailed information for testers on <a href="http://docs.fenxpipeline.com/manual/tester/" target="_blank">this page</a>.
                        <br><br>
                        <a class="btn btn-warning btn-lg" style="color: white" href="{% url "download" %}">Download page</a>
                    </p>

                </div>
            </div>

        </div>
    </div>

    <!--MODULES-->
    <div class="block block-inverse block-secondary app-code-block grad2"
         id="modules">
    <div class="container">
        <div class="row app-align-center">
            <div class="col-md-6 order-2 order-md-1">
                <h6 class="text-muted text-uppercase">what is module</h6>
                <h2>Modules allow you to integrate complex production software ro simple scripts in&nbsp;to&nbsp;your pipeline with&nbsp;one&nbsp;click.</h2>
                <p class="lead mb-4 text-muted">
                    The concept of the modules is&nbsp;to&nbsp;fully supports the&nbsp;integration of&nbsp;any&nbsp;tool from&nbsp;installation to&nbsp;settings
                    configuration. You don't&nbsp;want to&nbsp;bother with installation of&nbsp;the plug&#8209;in or&nbsp;the&nbsp;integration of&nbsp;the&nbsp;service?
                    It&nbsp;is&nbsp;worth checking the&nbsp;list of&nbsp;modules, perhaps there is&nbsp;already a&nbsp;ready-made module
                    that will&nbsp;do&nbsp;everything&nbsp;for&nbsp;you.

                </p>
                <!--<button class="btn btn-secondary btn-lg btn-borderless">-->
                <a class="btn btn-secondary btn-lg" style="color: black" href="{% url "modules:index" %}" target="_blank">
                    Go To Repository
                </a>
            </div>
            <div class="col-md-5 ml-auto order-1 order-md-2">

                <img src="{% static "assets/images/fenx_outline2.png" %}" alt="" height="340">
                
            </div>
        </div>
    </div>
</div>

    <!--DEV-->
    <div class="block block-secondary  app-high-praise" id="testing">

        <div class="container">
            <div class="row app-align-center py-3 justify-content-end">
                <div class="col-lg-6">
                    <img src="{% static "assets/images/console.png" %}" alt="" class="img-fluid" style="max-width: 250px">
                </div>
                <div class="col-lg-6">
                    <h3 class="text-dark text-uppercase mb-2">UNDER DEVELOPMENT</h3>
                    <p class="lead2 mb-4">
                        Fenx platform is under development yet.
                        It is not recommended to&nbsp;use it on&nbsp;real projects.
                        Any module or&nbsp;rules can completely change at&nbsp;any&nbsp;time.
                        If you want to test FenxPipeline now you can become a&nbsp;tester.
                        <br>
                        <br>
                        Details on <a href="http://docs.fenxpipeline.com/manual/tester/">this page</a>.

                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--CONTACT-->
    <div class="block block-inverse app-footer grad3" id="contacts">
 <div class="container">
    <div class="row">
      <div class="col-md-3 mb-5">
          <img src="{% static "assets/images/fenx_alpha.png" %}" alt="fenx" width="84"> <br>FenxPipeline
      </div>
      <div class="col-md-3 ml-auto mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Contacts</h6></li>
          <li class="text-muted"><a href="mailto:fenxpipeline@gmail.com">fenxpipeline@gmail.com</a></li>
          <li class="text-muted"><a href="https://t.me/fenxpipeline">Telegram Chat</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Terms</h6></li>
          <li class="text-muted"><a href="javascript:license()">License</a></li>
          <li class="text-muted"><a href="javascript:terms()">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>


    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/popper.min.js" %}"></script>
    <script src="{% static "assets/js/toolkit.js" %}"></script>
    <script src="{% static "assets/js/application.js" %}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>

<script>
    function license() {

    swal({
        title: '<b>License</b>',
        // type: '',
        html:
        'License will be here',
        // showCloseButton: true,
        showCancelButton: false,
        focusConfirm: false,
        confirmButtonText: 'Close'
        // confirmButtonAriaLabel: 'Thumbs up, great!',
        // cancelButtonText:
        //     '<i class="fa fa-thumbs-down"></i>',
        // cancelButtonAriaLabel: 'Thumbs down',
    })
    }

    function terms() {
        swal({
            title: '<b>Terms</b>',
            // type: 'info',
            html:
            'Terms will be here',
            // showCloseButton: true,
            // showCancelButton: false,
            focusConfirm: false,
            confirmButtonText:'Close'
            // confirmButtonAriaLabel: 'Thumbs up, great!',
            // cancelButtonText:'<i class="fa fa-thumbs-down"></i>',
            // cancelButtonAriaLabel: 'Thumbs down',
        })
    }
</script>
</body>
</html>

