{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Open source CG pipeline platform">
    <meta property="og:site_name" content="FenxPipeline">
    <meta property="og:url" content="http://fenxpipeline.com">
    <meta property="og:image" content="http://fenxpipeline.com/assets/images/fenx.png">
    <link rel="icon" href="{% static "/assets/favicon.ico" %}">
    <title>
      
        FenxPipeline
      
    </title>

    
      <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
      <link href="{% static "assets/css/toolkit-startup.css" %}" rel="stylesheet">
      <link href="{% static "assets/css/application-startup.css" %}" rel="stylesheet">
      <link href="{% static "assets/css/fonts.css" %}" rel="stylesheet">
      <link href="{% static "assets/css/landing_custom.css" %}" rel="stylesheet">

      <!--<script src="https://unpkg.com/sweetalert2"></script>-->
      <script src="{% static "assets/js/sweetalert2.all.js" %}"></script>

      <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
      <script src="{% static "assets/js/promise.min.js" %}"></script>
    

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      /* …curses ios, etc… */
      @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
        body {
          width: 1px;
          min-width: 100%;
          *width: 100%;
        }
        #stage {
          height: 1px;
          overflow: auto;
          min-height: 100vh;
          -webkit-overflow-scrolling: touch;
        }
      }



    </style>
  </head>


<body>
  
<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked flex-column">
    <li class="nav-header">Main Menu</li>
    <!--<li class="nav-item">-->
      <!--<a class="nav-link active" href="index.html">Home</a>-->
    <!--</li>-->
    <li class="nav-item">
      <a class="nav-link" href="#features">Возможности</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://docs.fenxpipeline.com" target="_blank">Документация</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url "modules:index" %}">Модули</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#download">Загрузка</a>
    </li>
    <!--<li class="nav-divider"></li>-->
    <!--<li class="nav-header">Docs</li>-->
    <li class="nav-item">
      <a class="nav-link" href="#contacts">Контакты</a>
    </li>
  {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url "account:login" %}">Вход</a>
    </li>
  {% endif %}
    <li class="nav-item">
       <a class="nav-link" href="/?en">ENG</a>
    </li>

    <!--<li class="nav-item">-->
      <!--<a class="nav-link" href="http://getbootstrap.com">Bootstrap</a>-->
    <!--</li>-->
  </ul>
</div>

<div class="stage" id="stage">

    <!--MAIN-->
    <div class="block block-inverse block-fill-height app-header grad">
         <!--style="background-image: url(assets/images/bg1.jpg);"-->
    <!--&gt;-->
      <div class="container py-4 fixed-top app-navbar">



      <nav class="navbar navbar-transparent navbar-padded navbar-expand-md">
        <a class="navbar-brand mr-auto" href="/">
            <img src="{% static "assets/images/fenx_alpha.png" %}"  width="42" height="42" alt="">

        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-target="#stage"
          data-toggle="stage"
          data-distance="-250">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="d-none d-md-block text-uppercase">
          <ul class="navbar-nav">
            <!--<li class="nav-item px-1 ">-->
              <!--<a class="nav-link" href="#stage">Home</a>-->
            <!--</li>-->
            <li class="nav-item px-1 ">
              <a class="nav-link" href="#features">Возможности</a>
            </li>
            <li class="nav-item px-1 ">
              <a class="nav-link" href="#download">Загрузка</a>
            </li>
            <li class="nav-item px-1 ">
              <a class="nav-link" href="http://docs.fenxpipeline.com" target="_blank">Документация</a>
            </li>
            <li class="nav-item px-1 ">
              <a class="nav-link" href="{% url "modules:index" %}">Модули</a>
            </li>

            <li class="nav-item px-1 ">
              <a class="nav-link" href="#contacts">Контакты</a>
            </li>

            {% if not user.is_authenticated %}
                <li class="nav-item px-1 ">
                  <a class="nav-link" href="{% url "account:login" %}">Вход</a>
                </li>
            {% else %}
                <li class="nav-item px-1 ">
                  <a class="nav-link" href="{% url "account:profile" %}">Профиль</a>
                </li>
            {% endif %}

            <li class="nav-item">
{#              <a href="/?en"><img class="thumbnail pull-left flag" src="{% static "assets/images/en.png" %}" alt="en" ></a>#}
              <a class="nav-link lang-link" href="/?en">ENG</a>
            </li>


          </ul>
        </div>
      </nav>
    </div>

      <!--<img class="app-graph"  src="assets/img/startup-0.svg">-->

      <div class="block-xs-middle pb-5">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-lg-6">
              <h1 class="block-titleData frequency" style="font-size: 3em">FenxPipeline</h1>
              <p class="lead mb-4 text-muted">
                Профессиональный CG пайплайн <br>для студии и фриланса
              </p>
              <button class="btn btn-warning btn-lg" onClick="document.getElementById('download').scrollIntoView();">Download</button>
            </div>

              <div class="col-sm-10 col-lg-6">
              <p class="lead mb-4 text-muted">
                  Проект, призванный навести порядок в&nbsp;CG&#8209;пайплайне рядового пользователя или&nbsp;небольшой студии.
                  <br>
                  <br>
                  <!--Многофункциональная и расширяемая платформа, доступная каждому.-->
                  Модульная платформа для сборки вашего личного пайплайна под любые задачи.
                  <br>
                  <br>
                  Интеграция любого сервиса или приложения с помощью модулей.
                  <br>
                  <br>
                  <a href="#details" style="color: white;">Подробней &rarr;</a>
              </p>
            </div>


          </div>
        </div>
      </div>
    </div>

    <!--FEATURES-->
    <div class="block block-secondary app-block-marketing-grid"
         id="features">
  <div class="container text-xs-center">

      <div class="row mb-5 justify-content-center">
        <div class="col-10 col-sm-8 col-lg-6">
          <!--<h5 class="text-dark text-uppercase mb-2">возможности</h5>-->
          <h2 class="mb-4">Чем удобен FenxPipeline</h2>
        </div>
      </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/laincher.png" %}">
        <p><strong>Удобный лаунчер</strong>
            <br>
            Запускайте любимый софт без&nbsp;лишних&nbsp;заморочек.
        </p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/integr.png" %}">
        <p><strong>Готовая интеграция</strong><br>
            Врапперы для популярных CG&#8209;софтов с&nbsp;множеством удобных фишек уже&nbsp;в&nbsp;комплекте.
        </p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/cross.png" %}">
        <p><strong>Кросс платформенный код</strong>
            <br>
            Используйте один и тот же Workspace из&nbsp;разных&nbsp;систем.
        </p>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/modules2.png" %}">
        <p><strong>Модули</strong>
            <br>
            Автоматизируйте сложные вещи в&nbsp;один&nbsp;клик.
            Каждый модуль привносит новые возможности.
        </p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/colaborate.png" %}">
        <p><strong>Совместная работа</strong>
            <br>
            Используйте один Workspace на студии и дома с&nbsp;помощью синхронизации
            по&nbsp;локальной&nbsp;сети или&nbsp;через&nbsp;интернет.
        </p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="{% static "assets/images/opensource.png" %}">
        <p><strong>Открытый исходный код</strong>
            <br>
            Открытая и гибкая система&nbsp;на&nbsp;Python.
            Добавляйте&nbsp;любой функционал с&nbsp;помощью&nbsp;новых&nbsp;модулей.
        </p>
      </div>
    </div>
  </div>
</div>

    <!--ABOUT-->
    <div class="block block-inverse app-block-marketing-grid"
         style="background-image: url({% static "assets/images/bg6.jpg" %});">


        <div class="container">

            <div class="row mb-5 justify-content-center2">
                <!--<h2 class="mb-4">Что такое FenxPipeline</h2>-->
                <div class="col-lg-8">
                    <h3 class="text-white text-uppercase mb-2">концепция</h3>
                    <p class="lead2 mb-4 text-muted">
                        FenxPipeline это простое решение предназначенное для&nbsp;сборки&nbsp;CG&#8209;пайплайна.
                        Вы получите удобный лаунчер, который может запускать ваш&nbsp;любимый софт, подключая к нему любые плагины и скрипты.
                        Главная особенность платформы это&nbsp;модульность!
                        <br>
                        Нужен новый плагин или&nbsp;дополнительный сервис? Просто поставте нужный модуль или&nbsp;напишите&nbsp;свой.
                        Расширяемость функционала не&nbsp;ограничена.
                    </p>
                    <h3 class="text-white text-uppercase mb-2">для студии</h3>
                    <p class="lead2 mb-4 text-muted">
                        Вы молодая студия у которой ещё нет своего лаунчера или&nbsp;вы&nbsp;используете shell&#8209;скрипты скрипты для&nbsp;старта софта?
                        С&nbsp;помощью Fenx Вы&nbsp;можете быстро поднять гибкий CG&#8209;пайплайн, который сразу готов к&nbsp;подключению сотрудников, включая&nbsp;аутсоорс.
                        Каждый Fenx-враппер реализует лучшие&nbsp;практики конфигурирования конкретного&nbsp;софта, добавляя лучшее из&nbsp;других.
                        Если у Вас уже есть свой локальный лаунчер, то&nbsp;можно использовать FenxPipeline только для работы с&nbsp;удалёнными сотрудниками.
                        А&nbsp;система эвентов поможет интегрировать Fenx-платформу с&nbsp;Вашим существующим пайплайном.

                    </p>

                    <h3 class="text-white text-uppercase mb-2">для фрилансера</h3>
                    <p class="lead2 mb-4 text-muted">
                        Это самый простой способ систематизировать ваши инструменты и&nbsp;получить профессиональный лаунчер для&nbsp;домашнего использования.
                        Забудьте про&nbsp;shell&#8209;скрипты, Fenx&#8209;модули всё&nbsp;сделают автоматически.
                        Больше не&nbsp;нужно прописывать каждый скрипт или&nbsp;плагин. Просто поместите его&nbsp;в&nbsp;нужную директорию или&nbsp;поставьте соответствующий&nbsp;модуль.
                        <br>
                    </p>

                </div>
            </div>

        </div>
    </div>

    <!--DOWNLOAD-->
    <div class="block block-secondary app-iphone-block" id="download">
        <div class="container" style="padding-bottom: 100px;">
            <div class="row app-align-center">

                <div class="col-sm-5 d-none d-md-block">
                    <!--<img class="app-iphone" src="assets/images/download.png" style="width: 100%;">-->
                    <img class="app-iphone" src="{% static "assets/images/download.png" %}" height="370px">
                </div>

                <div class="col-md-6 col-sm-12 ml-auto">
                    <h6 class="text-muted text-uppercase">download</h6>
                    <h2>Загрузка</h2>
                    <p class="lead2 mb-4">
                        FenxPipeline всё еще на стадии разработки.
                        <br>
                        Вы можете протестировать платформу уже&nbsp;сейчас, но&nbsp;не&nbsp;используйте её&nbsp;на&nbsp;рабочих проектах.
                        <br>
                        Подробная информация для тестировщиков <a href="http://docs.fenxpipeline.com/manual/tester/" target="_blank">на этой странице</a>.
                        <br>
                        <br>
                        <a class="btn btn-warning btn-lg" style="color: white" href="{% url "download" %}">Перейти на страницу загрузки</a>
                    </p>


                    <!--<p class="lead mb-4">Для Windows 7 необходимо поставить <br>-->
                    <!--<a href="https://www.microsoft.com/en-us/download/details.aspx?id=48234" target="_blank">дополнительные библиотеки C++</a></p>-->

{#                    <ul class="list-unstyled my-5">#}
{#                        <li class="media">#}
{#                            <img class="d-flex mr-3" alt="64x64" src="{% static "assets/images/win.png" %}" data-holder-rendered="true" style="width: 64px; height: 64px;" />#}
{#                            <div class="media-body">#}
{#                                <h5 class="mt-0 mb-1">Windows x64 7+</h5>#}
{#                                <!--<a href="/">fenx_install_0.1.zip</a>-->#}
{#                                <p><a href="#testing">Alpha testing</a></p>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="media my-4">#}
{#                            <img class="d-flex mr-3" alt="64x64" src="{% static "assets/images/lin.png" %}" data-holder-rendered="true" style="width: 64px; height: 64px;" />#}
{#                            <div class="media-body">#}
{#                                <h5 class="mt-0 mb-1">Linux Ubuntu 16.04+</h5>#}
{#                                <!--<a href="/">fenx_install_0.1.zip</a>-->#}
{#                                <p><a href="#testing">Alpha testing</a></p>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="media">#}
{#                            <img class="d-flex mr-3" data-src="holder.js/64x64" alt="64x64" src="{% static "assets/images/mac.png" %}" data-holder-rendered="true" style="width: 64px; height: 64px;" />#}
{#                            <div class="media-body">#}
{#                                <h5 class="mt-0 mb-1">OSX</h5>#}
{#                                <p>Under development</p>#}
{#                            </div>#}
{#                        </li>#}

{#                    </ul>#}
{#                        <h3>Внимание!</h3>#}
{#                    <p class="lead">FenxPipeline всё еще на стадии разработки.#}
{#                        <br>#}
{#                        Вы можете протестировать платформу уже сейчас.#}
{#                        <br>#}
{#                        Подробная информация <a href="http://docs.fenxpipeline.com/manual/tester/">на этой странице</a>.</p>#}

                </div>
            </div>

        </div>
    </div>

    <!--MODULES-->
    <div class="block block-inverse block-secondary app-code-block grad2"
         id="modules">
    <div class="container">
        <div class="row app-align-center">
            <div class="col-md-6 order-2 order-md-1">
                <h6 class="text-muted text-uppercase">что такое модули</h6>
                <h2>Модули позволяют сложные инструменты подключать в&nbsp;один&nbsp;клик</h2>
                <p class="lead mb-4 text-muted">
                    Концепция модуля заключается в том, что он&nbsp;полностью обслуживает интеграцию какого-либо инструмента от&nbsp;установки до&nbsp;настройки.
                    Не хотите заморачиваться с&nbsp;инсталляцией плагина или&nbsp;интеграцией сервиса? Стоит проверить список модулей,
                    возможно уже&nbsp;есть готовый модуль который сделает всё&nbsp;за&nbsp;Вас.
                </p>
                <!--<button class="btn btn-secondary btn-lg btn-borderless">-->
                <a class="btn btn-secondary btn-lg" style="color: black" href="{% url "modules:index" %}" target="_blank">
                    Перейти в репозиторий
                </a>
            </div>
            <div class="col-md-5 ml-auto order-1 order-md-2">

                <img src="{% static "assets/images/fenx_outline2.png" %}" alt="" height="340">
                
            </div>
        </div>
    </div>
</div>

    <!--DEV-->
    <div class="block block-secondary  app-high-praise" id="testing">

        <div class="container">
            <div class="row app-align-center py-3 justify-content-end">
                <div class="col-lg-6">
                    <img src="{% static "assets/images/console.png" %}" alt="" class="img-fluid" style="max-width: 250px">
                </div>
                <div class="col-lg-6">
                    <h3 class="text-dark text-uppercase mb-2">UNDER DEVELOPMENT</h3>
                    <p class="lead2 mb-4">
                        В данный момент Fenx платформа находится на стадии разработки. Нерекомендуется использовать её&nbsp;на&nbsp;реальных проектах.
                        В любой момент может полностью поменяться любой модуль или&nbsp;правила.
                        Если Вы&nbsp;хотите потестировать FenxPipeline уже&nbsp;сейчас то&nbsp;можете стать тестировщиком.
                        <br>
                        <br>
                        Подробная информация <a href="http://docs.fenxpipeline.com/manual/tester/">на этой странице</a>.
                    </p>
                </div>
                <!--<div class="col-sm-10 col-md-7 py-7">-->
                    <!--<h6 class="text-muted text-uppercase mb-2">UNDER DEVELOPMENT</h6>-->
                    <!--<p class="lead mb-4">-->
                        <!--FenxPipeline всё еще на стадии разработки.-->
                        <!--<br>-->
                        <!--Вы можете протестировать платформу уже сейчас.-->
                        <!--<br>-->
                        <!--Подробная информация <a href="http://docs.fenxpipeline.com/manual/tester/">на этой странице</a>.-->
                    <!--</p>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <!--CONTACT-->
    <div class="block block-inverse app-footer grad3" id="contacts">
 <div class="container">
    <div class="row">
      <div class="col-md-3 mb-5">
          <img src="{% static "assets/images/fenx_alpha.png" %}" alt="fenx" width="84"> <br>FenxPipeline
      </div>
      <div class="col-md-3 ml-auto mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Контакты</h6></li>
          <li class="text-muted"><a href="mailto:fenxpipeline@gmail.com">fenxpipeline@gmail.com</a></li>
          <li class="text-muted"><a href="https://t.me/fenxpipeline">Telegram Chat</a></li>
        </ul>
      </div>
      <div class="col-md-3 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Правила</h6></li>
          <li class="text-muted"><a href="javascript:license()">Лицензия</a></li>
          <li class="text-muted"><a href="javascript:terms()">Условия Использования</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

</div>


    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/popper.min.js" %}"></script>
    <script src="{% static "assets/js/toolkit.js" %}"></script>
    <script src="{% static "assets/js/application.js" %}"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>

<script>
    function license() {

    swal({
        title: '<b>Лизензия</b>',
        // type: '',
        html:
        'Здесь будет текст лицензии',
        // showCloseButton: true,
        showCancelButton: false,
        focusConfirm: false,
        confirmButtonText: 'Закрыть'
        // confirmButtonAriaLabel: 'Thumbs up, great!',
        // cancelButtonText:
        //     '<i class="fa fa-thumbs-down"></i>',
        // cancelButtonAriaLabel: 'Thumbs down',
    })
    }

    function terms() {
        swal({
            title: '<b>Условия использования</b>',
            // type: 'info',
            html:
            'Здесь будут условия использования',
            // showCloseButton: true,
            // showCancelButton: false,
            focusConfirm: false,
            confirmButtonText:'Заркыть'
            // confirmButtonAriaLabel: 'Thumbs up, great!',
            // cancelButtonText:'<i class="fa fa-thumbs-down"></i>',
            // cancelButtonAriaLabel: 'Thumbs down',
        })
    }
</script>
</body>
</html>

