@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic');
h1,
h2,
h3,
h4,
h5,
h6 {
    /*    font-family: 'Roboto Slab', serif !important;*/
    /*        font-weight: 700 !important;*/
    /*    text-transform: uppercase;*/
    font-family: 'Open Sans', sans-serif !important;
}

body {
    /*        font-family: 'Roboto', sans-serif !important;*/
    font-family: 'Open Sans', sans-serif !important;
}