.lang-link {
    border-radius: 4px;
    background-image: none;
    background-color: transparent;
    border: solid #ffb887 1px;
}

.grad{
    background-color: #0a2534;
    background: linear-gradient(#ed4e49, #480048);
}
.grad2{
    background-color: #0a2534;
    background: linear-gradient(#480048, #9a2748);
}
.grad3{
    background-color: #0a2534;
    background: linear-gradient( #992648, #480048);
}
.grad4{
    background-color: #0a2534;
    background: linear-gradient( #3a0138, #720053);
}
.lead2{
    font-size: 1.2em !important;
}
.flag{
    padding-top: 9px;
    width: 18px;
     -webkit-filter: drop-shadow(2px 2px 2px #9b2749);
    filter: drop-shadow(2px 2px 2px #9b2749);
}
.flag2{
    margin-left: 34px;
}