{% extends 'base.html' %}

{% block title %}
Activation
{% endblock %}

{% block header_title %}
Activation
{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url "account:profile" %}">Account</a></li>
    <li class="active">Activation</li>
{% endblock %}

{% block content %}
<h2 class="text-center">Not allowed</h2>
{% endblock %}