{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block header_title %}
Login
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Login</li>
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-6 col-md-offset-3">

        <!-- ALERT -->
        <div class="alert alert-mini alert-danger margin-bottom-30" style="display: none" id="error-label">
            <strong>Error</strong> Login Incorrect!
        </div><!-- /ALERT -->

        <div class="box-static box-border-top padding-30">
{#            <div class="box-title margin-bottom-30">#}
{#                <h2 class="size-20">Please enter username (email) and password</h2>#}
{#            </div>#}

            <form class="nomargin" method="post" action="#" autocomplete="off" id="form-login">
                {% csrf_token %}
                <div class="clearfix">

                    <!-- Email -->
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email" required="">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required="">
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-6">

                        <!-- Inform Tip -->
                        <div class="form-tip pt-20">
                            <a class="no-text-decoration size-13 margin-top-10 block" href="{% url "account:restore" %}">Forgot Password?</a>
                        </div>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                        <button class="btn btn-primary">LOG IN</button>

                    </div>

                </div>

            </form>

        </div>

        <div class="margin-top-30 text-center">
            <a href="{% url "account:register" %}"><strong>Create Account</strong></a>

        </div>

    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>

    function setError(text) {
        $("#error-label").show().html(text);
    }

           $('#form-login').submit(function (e) {
            var form = $(this);
            e.preventDefault();
            var parms = form.serializeArray();
            var action = form.attr('action');
                $.post(
                        action,
                        parms,
                        function (data) {
                            console.log(data);
                            if (data.success){
                                window.location.href = data.url;
                            }else{
                                $("#error-label").html('Authentication error').show()
                            }
                        }
                ).fail(function () {
                    setError('Server error')
                });
            }
        );
    </script>
{% endblock %}