{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block header_title %}
Profile
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Profile</li>
{% endblock %}

{% block content %}
<section>
				<div class="container">

					<!-- RIGHT -->
					<div class="col-lg-12 col-md-12 col-sm-12 margin-bottom-80">

						<ul class="nav nav-tabs nav-top-border">
							<li class="active"><a href="#info" data-toggle="tab">Personal Info</a></li>
							<li><a href="#password" data-toggle="tab">Password</a></li>
							<!--<li><a href="#details" data-toggle="tab">Details</a></li>-->
						</ul>

						<div class="tab-content margin-top-20">
							<!-- PERSONAL INFO TAB -->
							<div class="tab-pane fade in active" id="info">
								<form role="form" action="{% url "account:save" %}" method="post">
                                    {% csrf_token %}
									<div class="form-group">
										<label class="control-label">Email</label>
										<input type="text" value="{{ user.email }}" class="form-control" disabled>
									</div>
									<div class="form-group">
										<label class="control-label">Display Name</label>
										<input type="text" placeholder="User Name" name="display_name" class="form-control">
									</div>
									<div class="form-group">
										<label class="control-label">Website Url</label>
										<input type="text" placeholder="http://www.yourwebsite.com" name="site" class="form-control">
									</div>
									<div class="margiv-top10">
										<a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>
										<a href="#" class="btn btn-default">Cancel </a>
									</div>
								</form>
							</div>
							<!-- /PERSONAL INFO TAB -->

							<!-- PASSWORD TAB -->
							<div class="tab-pane fade" id="password">

								<form action="{% url "account:set_password" %}" method="post" id="form-password">

									<div class="form-group">
										<label class="control-label">Current Password</label>
										<input type="password" name="password_old" class="form-control">
									</div>
									<div class="form-group">
										<label class="control-label">New Password</label>
										<input type="password" name="password1" class="form-control">
									</div>
									<div class="form-group">
										<label class="control-label">Re-type New Password</label>
										<input type="password" name="password2" class="form-control">
									</div>

									<div class="margiv-top10">
										<a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Change Password</a>
										<a href="#" class="btn btn-default">Cancel </a>
									</div>

								</form>

							</div>
							<!-- /PASSWORD TAB -->

							<!-- PRIVACY TAB -->
							<!--<div class="tab-pane fade" id="details">-->

								<!--<form action="#" method="post">-->
									<!--<div class="sky-form">-->

										<!--<table class="table table-bordered table-striped">-->
											<!--<tbody>-->
												<!--<tr>-->
													<!--<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</td>-->
													<!--<td>-->
														<!--<div class="inline-group">-->
															<!--<label class="radio nomargin-top nomargin-bottom">-->
																<!--<input type="radio" name="radioOption" checked=""><i></i> Yes-->
															<!--</label>-->

															<!--<label class="radio nomargin-top nomargin-bottom">-->
																<!--<input type="radio" name="radioOption" checked=""><i></i> No-->
															<!--</label>-->
														<!--</div>-->
													<!--</td>-->
												<!--</tr>-->
												<!--<tr>-->
													<!--<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</td>-->
													<!--<td>-->
														<!--<label class="checkbox nomargin">-->
															<!--<input type="checkbox" name="checkbox" checked=""><i></i> Yes-->
														<!--</label>-->
													<!--</td>-->
												<!--</tr>-->
												<!--<tr>-->
													<!--<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</td>-->
													<!--<td>-->
														<!--<label class="checkbox nomargin">-->
															<!--<input type="checkbox" name="checkbox" checked=""><i></i> Yes-->
														<!--</label>-->
													<!--</td>-->
												<!--</tr>-->
												<!--<tr>-->
													<!--<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</td>-->
													<!--<td>-->
														<!--<label class="checkbox nomargin">-->
															<!--<input type="checkbox" name="checkbox" checked=""><i></i> Yes-->
														<!--</label>-->
													<!--</td>-->
												<!--</tr>-->
											<!--</tbody>-->
										<!--</table>-->

									<!--</div>-->

{#									<div class="margin-top-10">#}
{#										<a href="#" class="btn btn-primary"><i class="fa fa-check"></i> Save Changes </a>#}
{#										<a href="#" class="btn btn-default">Cancel </a>#}
{#									</div>#}

								</form>

							</div>
							<!-- /PRIVACY TAB -->

						</div>

					</div>

				</div>
			</section>
{% endblock %}