{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block header_title %}
Create Account
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Create Account</li>
{% endblock %}


{% block content %}
<div class="row">

						<!-- LOGIN -->
						<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">

							<!-- ALERT -->
							<!--
							<div class="alert alert-mini alert-danger margin-bottom-30">
								<strong>Oh snap!</strong> Login Incorrect!
							</div>
							-->
							<!-- /ALERT -->

							<!-- register form -->
                            {% if enabled %}

							<form class="nomargin sky-form boxed" action="#" method="post" style="padding-bottom: 18px !important;">
                                {% csrf_token %}
								<header>
									<i class="fa fa-users"></i> Register
									</header>

								<fieldset class="nomargin">
									<label class="input margin-bottom-10">
										<i class="ico-append fa fa-envelope"></i>
										<input type="text" placeholder="Email address">
{#										<b class="tooltip tooltip-bottom-right">Your login</b>#}
									</label>

									<label class="input margin-bottom-10">
										<i class="ico-append fa fa-lock"></i>
										<input type="password" placeholder="Password">
{#										<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>#}
									</label>

									<label class="input margin-bottom-10">
										<i class="ico-append fa fa-lock"></i>
										<input type="password" placeholder="Confirm password">
{#										<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>#}
									</label>

									<label class="input margin-bottom-10">
										<i class="ico-append fa fa-user"></i>
										<input type="text" placeholder="Display name">
									</label>

									<div class="margin-top-30">
										<label class="checkbox nomargin">
                                            <input class="checked-agree" type="checkbox" name="checkbox" ><i></i>
                                            <span style="color: white">I agree to the</span> <a href="#" data-toggle="modal" data-target="#termsModal">Terms of Service</a>
                                        </label>
									</div>
								</fieldset>

								<div class="row margin-bottom-20">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> REGISTER</button>
									</div>
								</div>

							</form>
							<!-- /register form -->
                            {% else %}
                                <h2 class="text-center">Register is closed</h2>
                            {% endif %}

						</div>
						<!-- /LOGIN -->

					</div>
{% endblock %}