{% extends 'base.html' %}

{% block title %}
Restore Password
{% endblock %}

{% block header_title %}
Restore Password
{% endblock %}

{% block breadcrumbs %}
    <li class="active">Restore Password</li>
{% endblock %}





{% block content %}
<div class="row">

						<!-- LOGIN -->
						<div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">

							<!-- ALERT -->
							<!--
							<div class="alert alert-mini alert-danger margin-bottom-30">
								<strong>Oh snap!</strong> Login Incorrect!
							</div>
							-->
							<!-- /ALERT -->
                            {% if enabled %}

							<!-- register form -->
							<form class="nomargin sky-form boxed" action="#" method="post" style="padding-bottom: 18px !important;">
                                {% csrf_token %}
								<header>
									<i class="fa fa-lock"></i> Enter your email
									</header>

								<fieldset class="nomargin">
									<label class="input margin-bottom-10">
{#										<i class="ico-append fa fa-envelope"></i>#}
										<input type="text" placeholder="Email address">
{#										<b class="tooltip tooltip-bottom-right">Your login</b>#}
									</label>
								</fieldset>

								<div class="row margin-bottom-20">
									<div class="col-md-12">
										<button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i> Restore</button>
									</div>
								</div>

							</form>
							<!-- /register form -->
                            {% else %}
                                <h2 class="text-center">Not allowed</h2>
                            {% endif %}

						</div>
						<!-- /LOGIN -->

					</div>
{% endblock %}